{% extends 'ng_learn/base.html' %}

{% block content %}
<div class="container-fluid">
<form action="{% url 'student-search' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>
<div class="container-fluid">
<table class="table table-hover table-sm">
        <tr class="text-center">
            <th>фио</th>
            <th>телефон</th>
            <th>email</th>
            <th>предоплата</th>
            <th>инф. письмо</th>
            <th>оплачено</th>
            <th>осталось оплатить</th>
            <th>группа</th>
        </tr>

        {% for student in object_list %}

        <tr>
            <td onclick="window.location.href='{{ student.get_absolute_url }}'; return false">{{student.name}}</td>
            <td onclick="window.location.href='{{ student.get_absolute_url }}'; return false">{{student.tel}}</td>
            <td onclick="window.location.href='{{ student.get_absolute_url }}'; return false">{{student.email}}</td>
            <td><input type="checkbox" {% if student.predpay %} checked {% endif %}/></td>
            <td><input type="checkbox" {% if student.infomail %} checked {% endif %}/></td>
            <td>{{student.balance}}</td>
            <td>{{ student.get_debt }}</td>
            {% if student.groupname is not None %}
            <td><a href="{% url 'group-detail' student.groupname_id %}">{{ student.groupname }}</a></td>
            {% endif %}
        </tr>

        {% endfor %}
</table>
</div>


{% endblock %}