{% extends 'ng_learn/base.html' %}

{% block content %}

<form action="{% url 'student-search' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

<ul>

<table class="table table-hover">
        <tr>
            <th>фио</th>
            <th>телефон</th>
            <th>email</th>
            <th>предоплата</th>
            <th>инф. письмо</th>
            <th>оплачено</th>
            <th>осталось оплатить</th>
            <th>группа</th>
        </tr>

        {% for student in object_list %}

        <tr>
            <td>{{student.name}}</td>
            <td>{{student.tel}}</td>
            <td>{{student.email}}</td>
            <td><input type="checkbox" {% if student.predpay %} checked {% endif %}/></td>
            <td><input type="checkbox" {% if student.infomail %} checked {% endif %}/></td>
            <td>{{student.balance}}</td>
            <td>{{ student.get_debt }}</td>
            <td><a href="{% url 'group-detail' student.groupname_id %}">{{ student.groupname }}</a></td>
            <td><a href="{{ student.get_absolute_url }}"><i>(i)</i></a></td>
        </tr>

        {% endfor %}
</table>

</ul>

{% endblock %}